header {
	width:100%; /* Establecemos que el header abarque el 100% del documento */
	overflow:hidden; /* Eliminamos errores de float */
	background:#000;
}
#name-company{
	text-align: left;
	font-weight: bold;
	color: white;
	font-family: monospace;
}
span {
  display: inline-block;
  vertical-align: middle;
}
#logo{
	align:center;
}

h1{
	text-align: center;
	color: #000000;
	font-weight: bold;
	
}

html, body{
	height: 100%;
}

.modulo{
	height: 100%;
	overflow: auto;
}

.panel{
	background-color: black;
	color: white;
	height: inherit;
	overflow: visible;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

.Table-Inventario{
	padding: 10px 8px;
}

.table{
	margin: auto;
	height: 100%;
	width: 100%;
}

#buttons{
	border: none;
}

#bor{
	border: 2px solid gray; 
	text-align: center;
}

#heading{
	border: 2px solid gray;
	font-weight: bold;
	vertical-align: center;
	text-align: center;
}

.border-image{
	border-radius: 50%;
	width: 100px;
	border-style: solid;
}
